/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 200px;
}


header{
    background-color: yellow;
}